/* Created On: 28/01/2026
Created By: Devesh Dev Fauzdar
Created For: Chai Culture */
:root {
  --royal-gold: #c6a44a;
  --deep-brown: #3b2a1a;
  --cream: #f5efe6;
}
body {
  background-color: var(--cream);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

.container,
.row{
  width: 100%;
}

body,
body * {
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
.container,
.row {
  margin: 0;
  padding: 0;
  width: 100vw;
}

p:not(.slogan),
.left,
.icon,
.icon-list,
h1,
.right,
.mainInfo {
  width: auto;
}

.container .row .left-wrap {
  padding: 0;
}


.container .right {
  position: relative; 
}

.logo {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.logo img {
  width: 110px;      /* desktop size */
  height: auto;
  margin-left: 12%;
}
@media screen and (max-width: 576px) {
  .logo {
    top: 12px;
    right: 12px;
  }
  .logo img {
    width: 50px; /* mobile size */
    margin-left: 30%;
  }
}

.brand-text {
  text-align: right;
  margin-top: 4px;
}

.brand-name {
  display: block;
  font-family: 'Muli', serif;
  font-size: 0.95rem;
  letter-spacing: 3px;
  font-weight: 800;
  color: var(--deep-brown);
}

.brand-tagline {
  display: block;
  font-family: 'Lato', sans-serif;
  transform: translateX(-18px);
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: var(--royal-gold);
  font-style: italic;
}

@media screen and (max-width: 576px) {
  .brand-name {
    font-size: 0.75rem;
    letter-spacing: 2px;
  }
  .brand-tagline {
    font-size: 0.60rem;
    transform: translateX(-4px)
  }
}


.container .row .left-wrap .left {
  
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: flex;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

@media screen and (max-width: 576px) {
  .container .row .left-wrap .left {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    clip-path: none;
    min-height: 40vh;
    height: auto;
    background-size: cover;
    background-position: center top;
    clip-path: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}

.container .row .left-wrap .left p {
  font-family: "Muli", sans-serif;
  font-size: 3.5em;
  margin-right: 2em;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 576px) {
  .container .row .left-wrap .left p {
    font-size: 1.5em;
    min-width: 60px;
    margin: 0.5em 0 0.5em 0;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
  .form-subscribe {
    justify-content: center;
    margin: 0.5em auto;
    max-width: 90%;
  }

@media screen and (max-width: 576px) {

  .container .row .left-wrap .left p {
    font-size: 1.2em;
    margin: 0.25em 0;
    
    padding: 0.25em 0.6em;
    border-radius: 12px;
    backdrop-filter: blur(1px);
  }

}


  .mainInfo h1, .tagline, .description {
    text-align: center;
    margin: 0.5em auto;
    width: 90%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container .row .left-wrap .left p {
    font-size: 2.4em;
  }
}

.container .row .left-wrap .left p .small {
  vertical-align: text-top;
  font-size: 0.5em;
}

.container .right {

  background-size: 100%;
  
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 576px) {
  .container .right {
    height: 50vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.container .right .mainInfo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 576px) {
  .container .right .mainInfo {
    text-align: center;
  }
}

.container .right .mainInfo h1 {
   font-family: 'Muli', serif; /* elegant serif */
  font-size: 3em;
  color: var(--deep-brown);
  text-align: left;
  margin-left: 3.2%;
  letter-spacing: 3px;
  font-weight: 900;
  line-height: 1.2;
  background: linear-gradient(90deg, var(--royal-gold), #a67c52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 0.3em;
}

@media screen and (max-width: 576px) {
  .mainInfo h1 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    margin-left: 0;
    margin-top: 1.8em;
  }
}

.form-subscribe {
  display: flex;
  width: 70%;
  margin-top: 1em;
  max-width: 550px;
  justify-content: center;
  margin: 1em auto 0 2em;
  
}


.form-subscribe .form {
  flex: 1;
  width: 70%;
  padding: 0.6em 1em;
  font-size: 1em;
  border: 2px solid var(--deep-brown);
  border-radius: 25px 0 0 25px;
  outline: none;
  transition: 0.3s;
  background-color: #fff8f3;
  color: var(--deep-brown);
  font-family: 'Lato', sans-serif;
}

.form-subscribe .form:focus {
  border-color: var(--royal-gold);
  box-shadow: 0 0 8px rgba(198,164,74,0.5);
}

.form-subscribe button {
  border-radius: 0 25px 25px 0;
  background-color: var(--deep-brown);
  color: white;
  border: 2px solid var(--deep-brown);
  padding: 0 1em;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.form-subscribe button:hover {
  background-color: var(--royal-gold);
  color: var(--deep-brown);
}

.container .right .mainInfo .slogan {
  width: 50vw;
  margin-top: 1.5em;
  color: #6d6464;
}

@media screen and (max-width: 576px) {
  .container .right .mainInfo .slogan {
    width: auto;
  }
}

.container .right .mainInfo .form-subscribe {
  margin-top: 0.5em;
}

@media screen and (max-width: 576px) {
  .container .right .mainInfo .form-subscribe {
    margin-left: 1em auto;
  }
}

@media screen and (max-width: 576px) {
  .right,
  .mainInfo,
  .left {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 576px) {
  .container .right .mainInfo h1 {
    text-align: center;
    margin-left: 15;
  }
}



.container .right .mainInfo .form-subscribe .form {
  height: 40px;
  padding: 0;
  margin-right: -6px;
  border: 1px solid black;
  border-right: none;
  padding-left: 0.5em;
}

.container .right .mainInfo .form-subscribe button {
  width: 120px;
  height: 40px;
  border: 1px solid black;
  border-top: 2px solid black;
  border-radius: 0 25px 25px 0;
  padding: 0;
  color: white;
  background-color: var(--deep-brown);
  border-color: var(--deep-brown);
}

@media screen and (max-width: 576px) {
  .container .right .mainInfo .form-subscribe button {
    width: 100px;
  }
}

.container .right .mainInfo .form-subscribe button:hover {
  background-color: var(--royal-gold);
  color: black;
  cursor: pointer;
}

.container .right .icon-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-3em);
  transform: none;
  margin-top: 1em;
}

@media screen and (max-width: 576px) {
  .container .right .icon-list {
    -webkit-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
    padding-left: 0;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1em;
  }
}

.container .right .icon-list .icon {
  margin-right: 1em;
  font-size: 1.5em;
}

.container .right .icon-list .icon a {
  color: var(--deep-brown);
  text-decoration: none;
}

.container .right .icon-list .icon a:hover {
  color: var(--royal-gold);
}

.icon-list .icon a {
  color: var(--deep-brown);
  font-size: 1.5em;
  text-decoration: none;
}

.icon-list .icon a:hover {
  color: var(--royal-gold);
}

/* Tagline styling */
.tagline {
  display: inline-block;
  font-family: 'Muli', serif; /* elegant serif font */
  font-size: 2em; /* larger size */
  font-weight: 700;
  max-width: 80%;
  color: var(--deep-brown);
  position: relative;
  margin-bottom: 0.2em;
  letter-spacing: 1px;
  background: linear-gradient(45deg, var(--royal-gold), #a67c52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.tagline i {
  color: var(--royal-gold);
  margin-right: 0.3em;
}

@media screen and (max-width: 576px) {
  .tagline {
    text-align: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {

  .container .row .left-wrap {
    width: 100%;
    overflow: hidden;
  }

  .container .row .left-wrap .left {
    clip-path: none !important;
    -webkit-clip-path: none !important;
    height: 50vh;
    min-height: 50vh;
    background-size: cover;
    background-position: center top;
    border-radius: 0;
  }

}

@media screen and (max-width: 576px) {
  .tagline::after {
    left: 50%;
    transform: translateX(-50%);
  }
}





/* Add a subtle underline / flourish */
.tagline {
  position: relative;
}

.tagline i {
  position: relative;
  display: inline-block;
  color: var(--royal-gold) !important;
  -webkit-text-fill-color: var(--royal-gold);
  margin-bottom: 12px;
}

.tagline i::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 42px;
  transform: translate(-50%);
  height: 3px;
  background: linear-gradient(90deg, var(--royal-gold), var(--deep-brown));
  border-radius: 2px;
}

/* Description styling */
.description {
  font-family: 'Lato', sans-serif;
  font-size: 1.05em;
  color: #6d6464;
  line-height: 1.7;
  margin-top: 0.5em;
  max-width: 480px; /* keeps line length readable */
  padding-left: 0.3em;
  border-left: 4px solid var(--royal-gold);
  padding-left: 1em;
  background: rgba(245, 239, 230, 0.4);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.0);
}

@media screen and (max-width: 576px) {
  .description {
    text-align: center;
    border: none;
    padding: 0;
    max-width: 95%;
    margin: 0.5em auto;
  }
}

.right,
.mainInfo,
.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1,
.slogan,
button,
.form {
  font-family: "Lato", sans-serif;
}

.slogan,
.form-subscribe {
  margin-left: 0;
}

@media screen and (max-width: 576px) {

  .slogan,
  .form-subscribe {
    margin-left: auto;
  }
}

.twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}

.facebook::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09a";
}

.instagram::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
}

.github::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09b";
}

.stackoverflow::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16c";
}

.youtube::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f167";
}

.medium::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f23a";
}

.linkedin::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f08c";
}
